<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Data-Form</title>
    <script src="../js/backend.js"></script>
</head>
<body>    
	<div class="main">
    <div class="register">    
    <form action="" class="register-form" id="register">
		<h2 style="color:rgba(255,255,255,0.6)">Create An Account</h2>	
        <label><b>Firstname
        </b>    
        </label>    
        <input type="text" name="first_name" id="firstname" placeholder="Firstname">  
        <br><br>
		<label><b>Lastname
        </b>    
        </label>    
        <input type="text" name="last_name" id="lastname" placeholder="Lastname">  
        <br><br>
        <label><b>Email
        </b>    
        </label> <br>   
        <input type="email" name="email" id="email" placeholder="Email">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="password" name="pass1" id="Pass" placeholder="Password">    
        <br><br>    
		<label><b>Confirm Password     
        </b>    
        </label>    
        <input type="password" name="pass2" id="Pass" placeholder="Confirm Password">    
        <br><br>   
        <input type="checkbox" id="check">    
        <span>Yes by creating an account, I agree with your Terms of Service. </span>    
        <br><br> 		
        <input type="button" onclick="register()" name="log" id="log" value="Create Account and Continue">       
        <br><br>    
		<a href="../index.html">Already have an account? Sign in </a>

        </form>     
</div>   
 </div>
 
</body>    
</html> 
